body{
    font-family:Arial, Helvetica, sans-serif;
    
}



h1, h2{
    color:crimson;
    text-align: left;
}

p{
    color:fuchsia
}

.importance{
    color:darkslategray
}

input.submit{
    color:blue;
}

input.submit:hover{
    background-color:blueviolet;
    color:white;
}